TZ=Asia/Shanghai

DJANGO_ENV=dev
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=please-change-me
DJANGO_ALLOWED_HOSTS=*

MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=edge_platform
MYSQL_USER=edge
MYSQL_PASSWORD=edge123456
WVP_DB_NAME=wvp
